{% extends 'base.html.twig' %}

{% block title %}Employee index{% endblock %}

{% block body %}
    <h1>Employee index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prenom</th>
                <th>Nom</th>
                <th>Telephone</th>
                <th>Email</th>
                <th>Adress</th>
                <th>Poste</th>
                <th>Salaire</th>
                <th>Datedenaissance</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for employee in employees %}
            <tr>
                <td>{{ employee.id }}</td>
                <td>{{ employee.Prenom }}</td>
                <td>{{ employee.Nom }}</td>
                <td>{{ employee.Telephone }}</td>
                <td>{{ employee.email }}</td>
                <td>{{ employee.adress }}</td>
                <td>{{ employee.poste }}</td>
                <td>{{ employee.salaire }}</td>
                <td>{{ employee.datedenaissance ? employee.datedenaissance|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_employee_show', {'id': employee.id}) }}">show</a>
                    <a href="{{ path('app_employee_edit', {'id': employee.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_employee_new') }}">Create new</a>
{% endblock %}
